.headerContainer{
    color: red;
    width: 100vw;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px black;
    font-family: pokemon hollow;
    font-size: 3rem;
    color: black;
    opacity: 0.75;
    text-shadow: black 7px 7px 7px;
    

    
}

.info{
    gap: 200px;
    display: flex;
    font-family: pokemon solid;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.5;
}

.form{
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    opacity: 0.5;
    box-shadow: 5px 5px black;
    
}

.music{
    padding: 10px;
    display: flex;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}


body{
    background-image: url(/images/pokemon_card_ball.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
}

