.headerContainer{
    width: 100vw;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px black;
    font-family: Beyno;
    font-size: 2rem;
    color: purple;
    opacity: 0.5;

    
}


body{
    background-image: url(/images/pokemon_card_ball.jpg);
    background-size: 100vw;
}

.changeColor{
    color: ;
}